@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-50: #f9fafb;
  --gray-100: #f2f4f7;
  --gray-200: #eaecf0;
  --gray-300: #d0d5dd;
  --gray-400: #98a2b3;
  --gray-500: rgba(102, 112, 133, 1);
  --gray-600: #475467;
  --gray-800: #1d2939;
  --gray-900: rgba(16, 24, 40, 1);

  --blue-50: #eff8ff;
  --blue-100: #d1e9ff;
  --blue-200: #b2ddff;
  --blue-700: rgba(23, 92, 211, 1);

  --orange-dark-300: #ff9c66;
  --primary-300: #d6bbfb;
  --moss-300: #acdc79;
  --gray-blue-300: #b3b8db;
  --warning-300: #fec84b;
  --ros-300: #fea3b4;
}

body {
  scroll-behavior: smooth;
}

h1,
h2 {
  color: var(--gray-800);
}

h3,
h4 {
  color: var(--gray-900);
}

p {
  color: var(--gray-500);
}
